{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}
<h1 class="text-center"> Add a Person</h1>
{% for error in errors %}
  <p class="alert alert-danger">{{ error }}</p>
{% endfor %}
<h3>
  <div class="container">
    <form action="/people" method="POST">
      <div class="form-group">
        <label for="people-name">Person Name</label>
        <input type="text" class="form-control" id="people-name" name="name" placeholder="Person Name">
      </div>
      <div class="form-group">
        <label for="people-id">Person ID</label>
        <input type="text" class="form-control" id="people-id" name="id" placeholder="Person ID">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</h3>

{% endblock %}
